:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  -webkit-user-select: none;
}

#designCanvas {
  background-color: white;
}

#designCanvas .selected-element {
  outline: solid 3px rgba(66, 87, 203, 0.8);
  outline-offset: -3px;
}

#designCanvas *::after {
  position: absolute;
  content: ' ';
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
  cursor: se-resize;
}

#designCanvas.sizing {
  cursor: se-resize;  
}

#designCanvas .drop-target {
  outline: dotted 2px black;
  outline-offset: -2px;
}