/*
Copyright 2013 The Polymer Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/

#interior > * {
  padding: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

g-icon-button {
  vertical-align: middle;
}

tk-property-inspector[hidden=true] {
  display: none !important;
}

g-icon-button[hidden=true] {
  width: 0 !important;
  padding: 0 !important;
  visibility: hidden !important;
}

core-icon-button {
  fill: rgb(131, 131, 131);
}
