iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#inspector {
  position: relative;
  width: 350px;
  border-left: 1px solid silver;
  transition: width 0.3s;
  box-shadow: -5px 0 8px rgba(0, 0, 0, 0.14);
}

#inspector.maximized {
  width: 0;
  border: 0;
}

#frameContainer {
  height: 100%;
  z-index: 0;
}
