iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#inspector {
  position: relative;
  width: 350px;
  border-left: 1px solid silver;
  transition: width 0.3s;
  box-shadow: -5px 0 8px rgba(0, 0, 0, 0.14);
}

#inspector.maximized {
  width: 0;
  border: 0;
}

#frameContainer {
  height: 100%;
  z-index: 0;
}

#appbar {
  background-color: #f2f2f2;
  border-bottom: 1px solid silver;
}

#toast {
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

#toast > div {
  display: inline-block;
  font-size: 0.8rem;
  background-color: #ffff66;
  padding: 4px 8px;
  border: solid silver;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 2px 2px;
}

#toast.showing {
  opacity: 1;
}

#code {
  font-size: 16px;
}